* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

$very_dark_blue: hsl(233, 47%, 7%); 
$dark_desaturated_blue: hsl(244, 38%, 16%); 
$soft_violet: hsl(277, 64%, 61%); 

$main_heading_white: hsl(0, 0%, 100%); 
$main_paragraph_white: hsla(0, 0%, 100%, 0.75); 
$slight_transparent_white: hsla(0, 0%, 100%); 

$inter: 'Inter', sans-serif; 
$lexend: 'Lexend Deca', san-serif; 
$font-weight: ( 
    "regular": 400, 
    "bold": 700, 
)
